*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #efeff6;
}
#applicationLogoBar{
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
    width: 100%;
    background-color: white;
}

#sideBarDiv{
    width: fit-content;
    height: 100%;
    overflow: hidden;
    background-color: #0e0c28;
    position: fixed;
    z-index: 5;
}

#sideNavBarOptionHome, #sideNavBarOptionQuizzes, #sideNavBarOptionStatistics{
    color: #7a80b4;
}

#sideNavBarOptionHome:hover, #sideNavBarOptionQuizzes:hover, #sideNavBarOptionStatistics:hover{
    color: white;
}


@media only screen and (max-width: 992px){
    #sideBarDiv{
        width: 100%;
        height: fit-content;
    }

    .navbarBtnDiv{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}